*{margin: 0; padding: 0; box-sizing: border-box;}

.main_div{width: 100vw; height: 100vh; position: relative;}

.form_div{width: 30vw; height: 50vh; position: relative;
     top: 50%; left: 50%; transform: translate(-50%, -50%);
    background-color: rgb(56, 54, 54); border-radius: 10px;
padding: 50px;}

.form_div h1{text-align: center; color: white; margin-bottom:30px;}

.form_div .input_div{position: relative;}

.form_div .input_div input{width: 100%; padding: 10px; font-size: 16px;
    margin-bottom: 30px; letter-spacing: 1px; border: none; color: white;
background: transparent; border-bottom: 1px solid white; outline: none;}

.form_div .input_div label{position: absolute; letter-spacing: 1px; top:0; left:0;
        padding: 10px 0; font-size: 16px; color: white; transition: 0.5s;}
        
.main_div input[type="submit"]{background: transparent; border: none; outline: none;
color: white; background-color: rgb(0, 119, 255); padding: 8px 16px;
border-radius: 5px; font-size: 14px;} 

.input_div input:focus ~ label,
.input_div input:valid ~ label{
    top: -20px;
    left: 0px;
    font-size: 12px;
    color: rgb(0, 119, 255);
}